---
title: "Rust voxel engine"
---

<span style="display: inline flex;align-items: center">
<enhanced:img src="$lib/images/voxel1.png" alt="1" style="width:calc(100% - 2em);height: 100%;"/>
<enhanced:img src="$lib/images/voxel2.png" alt="2" style="width:calc(100% - 2em);height: 100%;"/> 
</span>
